name: Pull Request

on:
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
          
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build and analyze
      shell: pwsh
      run: |
        dotnet build --configuration Release --no-restore
        dotnet test
